<% messages.each do |message| %>
  <% if message.body.present? %>
    <% if current_user.id == message.user_id %>
      <div class="message my_message_area">
        <div  class="read_area">
          <%= '既読' if message.read %>
        </div>
        <div class="message_item item my_message">
          <div class="content">
            <div class="message_header">
              <span class="message_header_name">
                <%= message.user.family_name %>
                <%= message.user.first_name %>
              </span>
              <span class="message_header_date">
                <%= message.message_time %>
              </span>
            </div>
            <div class="list">
              <div class="item">
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
        <% if message.user.icon.present? %>
          <%= image_tag message.user.icon.url, class: 'user_icon_image message_user_icon_common message_user_icon_image' %>
        <% else %>
          <%= icon 'fas', 'user-circle', class: 'user_icon message_user_icon_common message_user_icon' %>
        <% end %>
      </div>
    <% else %>
      <div class="message auther_message_area">
        <% if message.user.icon.present? %>
          <%= image_tag message.user.icon.url, class: 'user_icon_image message_user_icon_common message_user_icon_image' %>
        <% else %>
          <%= icon 'fas', 'user-circle', class: 'user_icon message_user_icon_common message_user_icon' %>
        <% end %>
        <div class="message_item item auther_message">
          <div class="content">
            <div class="message_header">
              <span class="message_header_name">
                <%= message.user.family_name %>
                <%= message.user.first_name %>
              </span>
              <span class="message_header_date">
                <%= message.message_time %>
              </span>
            </div>
            <div class="list">
              <div class="item">
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
