<div id="kirehashi"></div>
<%= render 'common/menu_btn' %>

<div class="message_flex">
  <div id="main_container" class="flex">
    <%= render 'common/side_menu' %>
    <div class="triangle"></div>

    <div id="bg_main" class="message_container top_space">
      <div class="message_page">
        <div class="form_container message_area">
          <% if @over_ten %>
            <%= link_to 'これ以前のメッセージ', '?m=all', class: 'old_messages' %>
          <% end %>
          <div id="messages_area" class="ui segment message_flex">
            <%= render partial: 'messages/index', locals: { messages: @messages } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'messages/form', locals: { message: @message, conversation: @conversation } %>
</div>
