<div class="container">
  <div class="top_image">
    <%= image_tag 'top.jpg' %>
  </div>
  <div class="info_images">
    <%= image_tag 'info1.png' %>
    <%= image_tag 'info2.png' %>
  </div>
</div>
<p>今すぐ買い物をはじめましょう！</p>
<div class="login_btn">
  <%= link_to 'ログイン', new_user_session_path %>
</div>
<div class="signup_btn">
  <%= link_to '新規カスタマー登録', new_user_registration_path %>
</div>
