<div id="index_container">
  <div class="white">
    <div class="white_image_area">
      <%= image_tag 'top1.jpg', class: 'index_image white_image' %>
      <div class="top_black_postit_area">
        <p class="top_black_postit_content">買い物に出られない・<br>出たくない日のあなたの<br>お買い物をサポート<br>します。</p>
        <%= image_tag 'tape.png', class: 'tape_image' %>
      </div>
      <div class="top_pink_postit_area">
        <p class="top_pink_postit_content">近所の買い物を<br>代行して<br>すきま時間に<br>収入を得られます。</p>
        <%= image_tag 'pin.png', class: 'pin_image' %>
      </div>
    </div>
  </div>

  <div class="lets_use_area triangle_area"></div>
  <p class="lets_use_content">買い物/配達をしてみましょう！</p>

  <div class="center_btn_area btn_area yellow_area">
    <%= link_to 'ログイン', new_user_session_path, class: 'btn index_btn index_top_btn index_login_btn' %>
    <%= link_to '新規会員登録', new_user_registration_path, class: 'btn index_btn index_top_btn index_signup_btn' %>
  </div>

  <div class="info_images_area">
    <div class="info_area info1_area">
      <%= image_tag 'info1.png', class: 'info_image info1_image' %>
      <div class="info_fukidashi_area info1_fukidashi_area">
        <%= image_tag 'fukidashi_mokomoko.png', class: 'info1_fukidashi_image' %>
        <%= image_tag 'ss1.png', class: 'ss_image ss_image1' %>
      </div>
    </div>
    <%= image_tag 'yajirushi.png', class: 'yajirushi_image yajirushi_image1' %>
    <div class="info_area info2_area">
      <%= image_tag 'info2.png', class: 'info_image info2_image' %>
      <div class="info_fukidashi_area info2_fukidashi_area">
        <%= image_tag 'fukidashi_mokomoko.png', class: 'info2_fukidashi_image' %>
        <%= image_tag 'ss2.png', class: 'ss_image ss_image2' %>
      </div>
      <p class="ok">OK！</p>
    </div>
    <%= image_tag 'yajirushi.png', class: 'yajirushi_image yajirushi_image2' %>
    <div class="green_image_area">
      <%= image_tag 'top2.jpg', class: 'index_image green_image' %>
      <div class="green_image_postit_area">
        <%= image_tag 'postit8.png', class: 'pink_postit_image' %>
        <p class="green_image_postit_content">これからお届けします！</p>
      </div>
    </div>
    <%= image_tag 'yajirushi.png', class: 'yajirushi_image yajirushi_image3' %>
    <div class="info3_area">
      <%= image_tag 'info3.png', class: 'info_image info3_image' %>
      <div class="info_fukidashi_area info3_fukidashi_area">
        <%= image_tag 'fukidashi_maru.png', class: 'info_fukidashi_area info3_fukidashi_image' %>
        <p class="info3_fukidashi_content">商品受け取り時に<br>代金＋手数料¥500を<br>配達員とひきかえます</p>
      </div>
    </div>
  </div>

  <div class="bottom_btn_area btn_area">
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn_shadow index_btn index_top_btn index_login_btn' %>
    <%= link_to '新規会員登録', new_user_registration_path, class: 'btn btn_shadow index_btn index_top_btn index_signup_btn' %>
  </div>
</div>
