<div id="main_container" class="flex">
  <%= render 'common/side_menu' %>

  <div id="bg_main" class="mypage top_space">
    <div class="container">
      <div class="mypage_user_icon">
        <%= icon 'fas', 'user-circle', class: 'user_icon' %>
      </div>
      <div class="mypage_user_name">
        <%= current_user.family_name %>
        <%= current_user.first_name %>様
      </div>

      <div class="requestings">
        <% if current_user.category == 'カスタマー' %>
          <% if @customer_orders0.present? %>
            <% @customer_orders0.each do |order| %>
              <% now = DateTime.now %>
              <% deadline = order.deadline.to_datetime %>
              <% if deadline > now %>
                <div class="requesting">
                  <%= image_tag 'memo1.png',class: 'memo_image' %>
                  <div class="requesting_content tilt">
                    <p class="requesting_info">依頼中の買い物</p>
                    <div class="requesting_text">
                      現在配達員を探しています。<br>
                      依頼期限：<%= l order.deadline, format: :short %>
                    </div>
                    <%= link_to '依頼詳細', edit_order_path(order.id), class: 'btn requesting_message_btn requesting_btn' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% if @customer_orders1.present? %>
            <% @customer_orders1.each do |order| %>
              <div class="requesting">
                <%= image_tag 'memo1.png', class: 'memo_image' %>
                <div class="requesting_content tilt">
                  <p class="requesting_info">依頼中の買い物</p>
                  <div class="requesting_text">
                    配達員が決まりました！<br>
                    <%= order.courier.family_name %>が買い物・配達に伺います。
                  </div>
                  <%= link_to '依頼詳細', edit_order_path(order.id), class: 'btn requesting_message_btn requesting_btn' %>
                  <%= link_to '配達員に連絡', conversations_path(sender_id: current_user.id, recipient_id: order.courier_id, order_id: order.id), method: :post, class: 'btn requesting_message_btn requesting_btn' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% elsif current_user.category == '配達員' %>
          <% if @courier_orders.present? %>
            <% @courier_orders.each do |order| %>
              <div class="requesting">
                <%= image_tag 'memo1.png', class: 'memo_image' %>
                <div class="requesting_content tilt">
                  <p class="requesting_info">受託中の依頼</p>
                  <div class="requesting_text">
                    <%= order.customer.family_name %><%= order.customer.first_name %>様の買い物依頼
                  </div>
                  <%= link_to '依頼詳細', edit_order_path(order.id), class: 'btn requesting_message_btn requesting_btn' %>
                  <%= link_to 'カスタマーに連絡', conversations_path(sender_id: current_user.id, recipient_id: order.customer_id, order_id: order.id), method: :post, class: 'btn requesting_message_btn requesting_btn' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="mypage_menu_btns">
        <% if current_user.category == 'カスタマー' %>
          <%= link_to '新規買い物依頼', new_order_path, class: 'btn mypage_menu_btn menu_btn mypage_new_order_btn' %>
          <%= link_to '会員情報編集', edit_user_registration_path, class: 'btn mypage_menu_btn menu_btn mypage_user_edit_btn' %>
          <%= link_to '買い物履歴', history_orders_path, class: 'btn mypage_menu_btn menu_btn mypage_shopping_list_btn' %>
        <% elsif current_user.category == '配達員' %>
          <%= link_to '依頼一覧', orders_path, class: 'btn mypage_menu_btn menu_btn mypage_order_list_btn' %>
          <%= link_to '会員情報編集', edit_user_registration_path, class: 'btn mypage_menu_btn menu_btn mypage_user_edit_btn' %>
          <%= link_to '配達履歴', history_orders_path, class: 'btn mypage_menu_btn menu_btn mypage_delivery_list_btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
