<div class="short_container yellow_container">
  <div class="triangle_area triangle_space"></div>
  <div class="short_content thanks_page_content">
    <p>以下のサイトのフリー素材をお借りしました。ありがとうございます。</p>
    <div class="thanks_links">
      <%= link_to '写真AC', 'https://www.photo-ac.com/', target: '_blank' %>
      <%= link_to 'いらすとや', 'https://www.irasutoya.com/', target: '_blank' %>
      <%= link_to '無料のAi・PNG白黒シルエットイラスト', 'https://www.silhouette-illust.com/', target: '_blank' %>
      <%= link_to 'フキダシデザイン', 'https://fukidesign.com/', target: '_blank' %>
      <%= link_to 'ヒバナ', 'http://hibana.rgr.jp/', target: '_blank' %>
      <%= link_to 'フリーWEB素材 Re:vre', 'http://nx.myafi.net/', target: '_blank' %>
    </div>
  </div>
</div>
