<div class="short_container yellow_container">
  <div class="triangle_area triangle_space"></div>
  <div class="short_form account_confirm_form">

    <div class="login_form">
      <h3><%= t('.resend_confirmation_instructions') %></h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'user_form' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit t('.resend_confirmation_instructions'), class: 'btn index_btn' %>
        </div>
      <% end %>

      <div class="form_info">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
