<div id="kirehashi"></div>
<%= render 'common/menu_btn' %>

<div id="main_container" class="flex">
  <%= render 'common/side_menu' %>
  <div class="triangle"></div>

  <div id="bg_main" class="top_space">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form_container">
      <%= link_to users_user_icon_edit_path, class: 'user_icon_edit_link' do %>
        <% if current_user.icon.present? %>
          <%= image_tag current_user.icon.url, class: 'user_icon_image edit_user_icon_image edit_user_icon_area' %>
        <% else %>
          <%= image_tag 'noimage.png', id: 'preview', class: 'user_icon_image edit_user_icon_image edit_user_icon_area' %>
        <% end %>
        <div class="icon_change">アイコン変える？</div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'user_form' }) do |f| %>
        <div class="field">
          <%= f.label :family_name, 'お名前', class: 'form_info' %><br />
          <%= f.text_field :family_name, class: 'form_name form_family_name' %>
          <%= f.text_field :first_name, class: 'form_name' %>
        </div>

        <div class="field">
          <%= f.label :email, class: 'form_info' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :postal_code, class: 'form_info' %><br />
          <%= f.text_field :postal_code %>
        </div>

        <div class="field">
          <%= f.label :address, class: 'form_info' %><br />
          <%= f.text_field :address, class: 'form_address' %>
        </div>

        <div class="field">
          <%= f.label :phone_number, class: 'form_info' %><br />
          <%= f.text_field :phone_number %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: 'form_info' %> <i class="form_info_condition">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em class="form_info_condition"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'form_info' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit t('.update'), class: 'btn common_btn user_submit_btn' %>
        </div>
      <% end %>

      <div class="line_area">
        <%= image_tag 'line.png', class: 'line_image' %>
      </div>

      <h3><%= t('.cancel_my_account') %></h3>

      <div class="actions"><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn common_btn user_submit_btn' %></div>
    </div>
  </div>
</div>
