<p>買い物依頼を確定してもよろしいですか？</p>
<table>
  <tr>
    <th>買い物リスト</th>
    <td><%= @order_content %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= @order_note %></td>
  </tr>
  <tr>
    <th>終了期限</th>
    <td><%= l @order.deadline, format: :short %></td>
  </tr>
</table>

<%= form_with(model: @order, local: true) do |f| %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :note %>
  <%= f.hidden_field :deadline %>
  <%= f.submit '戻る', name: 'back' %>
  <%= f.submit '依頼確定' %>
<% end %>
