<div class="order_histories">
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <% order_content = order.content.gsub(/\r\n|\r|\n/, '<br>').html_safe %>
      <div class="order_history">
        <table>
          <tr>
            <th>買い物リスト</th>
            <td><%= order_content %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= order.note %></td>
          </tr>
          <% if current_user.category == 'カスタマー' %>
            <tr>
              <th>配達員</th>
              <% order_courier = User.find(order.courier_id) %>
              <td><%= order_courier.family_name %></td>
            </tr>
          <% elsif current_user.category == '配達員' %>
            <tr>
              <th>配送先情報</th>
              <% order_customer = User.find(order.customer_id) %>
              <td>
                〒<%= order_customer.postal_code %><br>
                <%= order_customer.address %><br>
                <%= order_customer.phone_number %>
                <p><%= order_customer.family_name %><%= order_customer.first_name %>様</p>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>配達完了日時</th>
            <td><%= l order.completed_date, format: :short %></td>
          </tr>
          <tr>
            <th>依頼日時</th>
            <td><%= l order.created_at, format: :short %></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% else %>
    履歴はまだありません
  <% end %>
</div>
