<div id="kirehashi"></div>
<%= render 'common/menu_btn' %>

<div id="main_container" class="flex">
  <%= render 'common/side_menu' %>
  <div class="triangle"></div>

  <div id="bg_main" class="order_histories top_space">
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <% order_content = order.content.gsub(/\r\n|\r|\n/, '<br>').html_safe %>
        <div class="order_history">
          <%= image_tag 'memo3.png', class: 'memo_image memo_history_image' %>
          <table class="order_history_list tilt">
            <tr>
              <td class="table_right"><%= order_content[0,9] %>...</td>
              <% if current_user.category == 'カスタマー' %>
                  <td>配達員:<%= order.courier.family_name %></td>
              <% elsif current_user.category == '配達員' %>
                  <td>
                    〒<%= order.customer.postal_code %><br>
                    <%= order.customer.address[0..2] %>...<br>
                    <p class="order_history_name"><%= order.customer.family_name %>
                      <%= order.customer.first_name %>
                      様</p>
                  </td>
              <% end %>
            </tr>
            <tr>
              <th>配達完了日時</th>
              <td><%= l order.completed_date, format: :short %></td>
            </tr>
            <tr>
              <th>依頼日時</th>
              <td><%= l order.created_at, format: :short %></td>
            </tr>
            <tr>
              <td colspan="2" class="table_btn">
                <%= link_to '依頼詳細', edit_order_path(order.id), class: 'btn requesting_btn memo_btn_shadow' %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    <% else %>
      <div class="no_history">履歴はまだありません</div>
    <% end %>
  </div>
</div>
