<div class="sort">
  <%= form_with(url: orders_path, method: :get, local: true) do |f| %>
    <%= f.select :sort, options_for_select([['投稿が新しい順','created_at'],['終了期限が早い順','deadline']]),
      { class: 'sort_select' } %>
    <%= f.hidden_field :sort_pass, value: true %>
    <%= f.submit '並べ替え' %>
  <% end %>
</div>
<div class="orders">
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <div class="order">
        <div class="order_left">
          <%= order.customer.family_name %><%= order.customer.first_name %>様<br>
          <%= order.customer.address %>
          <p>依頼期限：<%= l order.deadline, format: :short %></p>
        </div>
        <div class="order_right">
          <%= link_to '詳細', edit_order_path(order.id) %>
        </div>
      </div>
    <% end %>
  <% else %>
    現在依頼はありません
  <% end %>
</div>
