<div class="menu_view">
  <% if current_user.category == 'カスタマー' %>
    <div class="menu_new_order">
      <%= link_to '新規買い物依頼', new_order_path %>
    </div>
    <div class="menu_user_edit">
      <%= link_to '会員情報編集', edit_user_registration_path %>
    </div>
    <div class="menu_shopping_list">
      <%= link_to '買い物履歴', history_orders_path %>
    </div>
  <% elsif current_user.category == 1 %>
    <div class="menu_order_list">
      <%= link_to '依頼一覧', content_couriers_path %>
    </div>
    <div class="menu_shopping_list">
      <%= link_to '会員情報編集', edit_user_registration_path %>
    </div>
    <div class="menu_delivery_list">
      <%= link_to '配達履歴', history_orders_path %>
    </div>
  <% end %>
</div>
